[submodule "exercises/asic/ihp13/pdk"]
	path = exercises/asic/ihp13/pdk
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
[submodule "exercises/croc"]
	path = exercises/croc
	url = https://github.com/pulp-platform/croc.git
